@import "tailwindcss";

li:hover {
    color: black;
}


body {
    background-color: #ffff;
}

button {
    cursor: pointer;
    transition: all 0.3s;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.rotate-on-hover {
    transition: transform 0.5s ease;
}
.rotate-on-hover:hover {
    transform: rotate(90deg);
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

nav {
    background-color: #fefefe;
}

.btn-primary {
    background-color:#5c6bf0;
    :hover {
        background-color: black;
        color: white;
    }
}

.cutom-shadow {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1050px) {
    .change-width {
        width: 80%;
        background-color: #fefefe;
    }
}

@media (max-width: 640px) {
    .change-padding {
        padding: 10px 20px;
    }
    .splitter {
        width: calc(1/4 * 100%);
    }
    .item-hidden {
        display: none !important;
    }
}